# SCRAPING

# NASA Mars News

In [1]:
#Import Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time
import pymongo
import requests

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#log into the website NASA
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
#using Beautifulsoup to write it into html
html = browser.html
bs_soup = bs(html,"html.parser")

In [6]:
news_title = bs_soup.find("div",class_="content_title").text
news_paragraph = bs_soup.find("div", class_="article_teaser_body").text
print(f"New's Title: {news_title}")
print(f"News Paragraph: {news_paragraph}")

New's Title: Mars Now
News Paragraph: NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

# JPL Mars Space Images - Featured Image

In [14]:
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(featured_image_url)

In [15]:
html_image = browser.html

In [19]:
soup = bs(html_image, "html.parser")

In [20]:
# Retrieve background picture
#image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]
image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

In [21]:
home_url="https://www.jpl.nasa.gov"

In [23]:
full_img_url = home_url + image_url
print(full_img_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14254-1920x1200.jpg

# Mars Weather

In [101]:
#weather_url = 'https://twitter.com/marswxreport?lang=en'
#browser.visit(weather_url)

In [102]:
# HTML Object 
#html_weather = browser.html

# Parse HTML with Beautiful Soup
#soup = bs(html_weather, 'html.parser')

#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
#mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
#print(mars_weather)
#temp

# Find all elements that contain tweets
#latest_tweets = soup.find_all('div', class_='js-tweet-text-container')

# Retrieve all elements that contain news title in the specified range
# Look for entries that display weather related words to exclude non weather related tweets 
#for tweet in latest_tweets: 
 #   mars_weather = tweet.find('p').text
  #  if 'Sol' and 'pressure' in mars_weather:
      #  print(mars_weather)
   #     break
   # else: 
    #    pass

In [103]:
#print(mars_weather)

In [104]:
#url_weather = "https://twitter.com/marswxreport?lang=en"
#browser.visit(url_weather)

In [105]:
#html_weather = browser.html
#soup = bs(html_weather, "html.parser")
#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
#mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
#print(mars_weather)
#temp

In [110]:
import requests as req
twitter_response = req.get("https://twitter.com/marswxreport?lang=en")
twitter_soup = bs(twitter_response.text, 'html.parser')

In [111]:
mars_weather = twitter_soup.find_all('div', class_="js-tweet-text-container")

In [112]:
print(mars_weather[0].text)
p = mars_weather[0].text
type(p)

InSight sol 455 (2020-03-08) low -95.4ºC (-139.8ºF) high -13.0ºC (8.5ºF)
winds from the SSE at 6.0 m/s (13.5 mph) gusting to 20.7 m/s (46.2 mph)
pressure at 6.40 hPapic.twitter.com/HrRcPTpSEQ

str

In [113]:

for tweets in mars_weather:
    if tweets.text:
        print(f"Mars Weather Twitter Tweet: {tweets.text}")
        break

Mars Weather Twitter Tweet:
InSight sol 455 (2020-03-08) low -95.4ºC (-139.8ºF) high -13.0ºC (8.5ºF)
winds from the SSE at 6.0 m/s (13.5 mph) gusting to 20.7 m/s (46.2 mph)
pressure at 6.40 hPapic.twitter.com/HrRcPTpSEQ

# Mars Facts

In [114]:
url = "https://space-facts.com/mars/"
browser.visit(url)

In [117]:
table = pd.read_html(url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [118]:
#Assign the columns
#df.columns = ['Description', 'Value']
#html_table = df.to_html(table_id="html_tbl_css",justify='left',index=False)
#data = df.to_dict(orient='records')  # Here's our added param..
#df

df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [119]:
#HTML TABLE STRING
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [120]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [121]:
# HTML Object
html_hemispheres = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html_hemispheres, 'html.parser')

# Retreive all items that contain mars hemispheres information
items = soup.find_all('div', class_='item')

# Create empty list for hemisphere urls 
hemisphere_image_urls = []

# Store the main_ul 
hemispheres_main_url = 'https://astrogeology.usgs.gov'

# Loop through the items previously stored
for i in items: 
    # Store title
    title = i.find('h3').text
    
    # Store link that leads to full image website
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    
    # Visit the link that contains the full image website 
    browser.visit(hemispheres_main_url + partial_img_url)
    
    # HTML Object of individual hemisphere information website 
    partial_img_html = browser.html
    
    # Parse HTML with Beautiful Soup for every individual hemisphere information website 
    soup = bs( partial_img_html, 'html.parser')
    
    # Retrieve full image source 
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    
    # Append the retreived information into a list of dictionaries 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

# Display hemisphere_image_urls
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
#url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
#browser.visit(url)

In [ ]:
#hemisphere_image_urls = []

# Get a List of All the Hemispheres
#links = browser.find_by_css("a.product-item h3")
#for item in range(len(links)):
 #   hemisphere = {}
    # browser.find_by_css("a.product-item h3")[item].click()
    
    # sample_element = browser.find_link_by_text("Sample").first
    #hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    #hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    #hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    #browser.back()

In [ ]:
#hemisphere_image_urls

In [ ]:
#usgs_html = browser.html                                                     # acquires response from URL
#usgs_soup = bs(usgs_html, 'html.parser')    
#hemisphere_image_urls = []                                                   # Creates empty list

#products = usgs_soup.find('div', class_='result-list')                       # finds products
#hemispheres = products.find_all('div', class_='item')                        # finds hemispheres

#for hemisphere in hemispheres:                                               # iterates through hemispheres
 #   title = hemisphere.find('div', class_='description')
    
  #  title_text = title.a.text                                                # extracts cleaned title
   # title_text = title_text.replace(' Enhanced', '')
    #browser.click_link_by_partial_text(title_text)                           # (automated) click
    
    #usgs_html = browser.html                                                 # acquires response from URL
    #usgs_soup = bs(usgs_html, 'html.parser')                                 # sends response to beautiful soup
    
    #image = usgs_soup.find('div', class_='downloads').find('ul').find('li')  # extracts image url
    #img_url = image.a['href']
    
    #hemisphere_image_urls.append({'title': title_text, 'img_url': img_url})  # adds dictionary to list  
    
    #browser.click_link_by_partial_text('Back')  
    #hemisphere_image_urls